.btn{
  width:30%;
  height:50px;
  display:block;
}
textarea.form-control{
  width:30%;
  height:200px;
  resize:none;
}
textarea.form-control:focus{
  background:#eee;
}
canvas.checkbox{
  display:inline-block;
  position:relative;
  top:15px;
}
ul li:hover, ul li:nth-child(even){
  background:#eee;
}
ul li span{
  color:#777;
  margin-right:20px;
}
